---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubecon-example
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: kubecon-example
rules:
- apiGroups: [""]
  resources:
  - namespaces
  - nodes
  verbs: ["get", "watch", "list"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "watch", "list", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: kubecon-example
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: monitor-pods
subjects:
  - kind: ServiceAccount
    name: kubecon-example
    namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: shell-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shell-operator
  template:
    metadata:
      labels:
        app: shell-operator
    spec:
      containers:
      - name: shell-operator
        image: flant/shell-operator-kubecon:latest
        imagePullPolicy: Always
      serviceAccountName: kubecon-example
